
<div class="form p-p4 dashboard dashboard-center" >

    <app-alert></app-alert>
    <form [formGroup]="Form" (ngSubmit)="onSubmit()" *ngIf="paso_1">
        <div class="grid">
            

             
            <div class="form-group col-12 md:col-6">
                <input type="text" 
                    class="form-input mat-input form-control"
                    name="Name" 
                    [(ngModel)]="datos.roleName"
                    formControlName="Name"
                     id="Name" placeholder="Name">
                <label for="Name" class="mat-label">Nombre</label>
              
                <div class="help-text">Ingresa nombre de rol</div>
            </div>

            
        </div>

        <div class="buttons col-12 row m-0" >
            <div class="col-6">
                <button class="btn btn-primary " id="formButton" type="submit" [disabled]="!Form.valid">Registrar</button>
            </div>

            <div class="col-6">
                <button class="btn btn-secundary " id="formButtonCancel" type="button" (click)="cancelarEdit()">Cancelar</button>
            </div>
           
            
        </div>
    </form>


  



</div>

<div class="dashboard dashboard-center ">
    <p-table #dt [value]="Roles" [rows]="10" [paginator]="true" [globalFilterFields]="['name','cod']" responsiveLayout="scroll"
    [(selection)]="selectedRol" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros" [showCurrentPageReport]="true">
   
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="price">Nombre </th>
            <th pSortableColumn="name">Rol </th>
            <th pSortableColumn="name">Código </th>
            <th style="min-width:332px">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." /> &nbsp;
                </span>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info mr-2" (click)="NewRow()" ></button>
           </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Rol>
        <tr>
            
            <td>{{Rol.name}}</td>
            <td>{{Rol.normalizedName}}</td>
            <td>{{Rol.concurrencyStamp}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="edit(Rol.id)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(Rol.id)"></button>
            </td>
        </tr>
    </ng-template>
    
</p-table>
<p-confirmDialog width="425" icon="fa fa-question-circle" #cd>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" label="Cancelar" (click)="cd.reject()" class="p-button-danger"></button>
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="cd.accept()" class="p-button-info" ></button>
    </p-footer>
</p-confirmDialog>
</div>
