<div class="grid justify-content-center">
    <div class="px-4 col-12 sm:col-6 md:col-4">
        <app-alert></app-alert>
        <div class="form " *ngIf="Paso2">
            <p-messages [(value)]="msgs1" [enableService]="false" ></p-messages>
            <button class="btn btn-primary  "  [routerLink]="['../login']">ingresar</button>
        </div>

        <div class="editar-perfil" *ngIf="Paso1">
            <form [formGroup]="formEdicion" (ngSubmit)="onSubmit()" class="editar-perfil-form" >
                <div class="header-page text-center pt-3 pb-3">
                    <h2>Cambiar tú contraseña</h2>
                </div>

                <div class="form-group">
                    <input 
                    formControlName="password"
                    [class]="'form-input mat-input form-password '"  
                    [type]="showPasswor?'text':'password' "  placeholder="Ingresar nueva contraseña"
                    maxlength=16
                    (keyup)="onValidateErrorClass()"
                    >
                    <label class="mat-label" for="password">Password</label>
                    <i [class]="showPasswor?'fa fa-eye':'fa fa-eye-slash'" 
                    (click)="showPasswor= !showPasswor" ></i>
                    
                </div>
                <br>
                <div class="form-group">
                    <input 
                    formControlName="RepitePass"
                    [class]="'form-input mat-input form-password '"  
                    [type]="showPasswor?'text':'password' "  placeholder="Repite nueva contraseña"
                    maxlength=16
                    (keyup)="onValidateErrorClassRepitePass()"
                    >
                    <label class="mat-label" for="RepitePass">Repite Password</label>
                    <i [class]="showPasswor?'fa fa-eye':'fa fa-eye-slash'" 
                    (click)="showPasswor= !showPasswor" ></i>
                    <div class="messages d-block p-3" style="text-align: left;">
                        <div [ngClass]="erroModalRePass.longitud?'positive':'negative'">Mínimo 8 caracteres</div>
                        <div [ngClass]="erroModalRePass.letraMayuscula?'positive':'negative'">1 Mayúscula mínimo</div>	
                        <div [ngClass]="erroModalRePass.letraMinuscula?'positive':'negative'">1 Letra mínimo</div>	
                        <div [ngClass]="erroModalRePass.simbolo?'positive':'negative'">1 Símbolo</div>	
                        <div [ngClass]="erroModalRePass.Coinsidencia?'positive':'negative'">Contraseña coincide </div>	
                    </div>
                </div>
            
                <div class="buttons button-sticky-bottom">
                    <button class="btn btn-primary btn-cambiar-password " id="formButton" type="submit">cambiar contraseña</button>
                    
                </div>
                
            </form>
        </div>
    </div>
</div>
