
<div class="dashboard pt-md-5 content-desktop-card">
  
    <div class="dashboard-buttons">
        <nav> 
            <ul class="list-dashboard center">
                <li  class="banco">
                    <a [routerLink]="['/Agape/bancos']">
                        <i class="pi pi-dollar"></i> Bancos<i class="icon angle-right"></i>
                    </a>
                </li>
                <li class="motivo-trans">
                    <a [routerLink]="['/Agape/motivoTrans']"><i class="pi pi-credit-card"></i> Motivo Transferencia<i
                            class="icon angle-right"></i>
                    </a>
                </li>
                <li class="pais">
                    <a [routerLink]="['/Agape/pais']"><i class="pi pi-map-marker"></i> País<i class="icon angle-right"></i>
                    </a>
                </li>
                <li  class="Parentesco">
                    <a [routerLink]="['/Agape/parentesco']"><i class="pi pi-users"></i> Parentesco<i class="icon angle-right"></i>
                    </a>
                </li>
                <li class="identi"><a
                        [routerLink]="['/Agape/tipoId']"><i class="pi pi-id-card" ></i> Tipo identificación<i class="icon angle-right"></i>
                    </a>
                </li>
                <li class="tarifas"><a
                    [routerLink]="['/Agape/tarifa']"><i class="pi pi-id-card" ></i> Tarifas<i class="icon angle-right"></i>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</div>
