
<div class="dashboard pt-md-5 content-desktop-card">
  
    <div class="dashboard-buttons">
        <nav> 
            <ul class="list-dashboard center">
                <li  class="banco">
                    <a [routerLink]="['/Agape/adminUser']">
                        <i class="pi pi-user"></i> Usuarios<i class="icon angle-right"></i>
                    </a>
                </li>
                <li class="motivo-trans">
                    <a [routerLink]="['/Agape/adminRoles']"><i class="pi pi-credit-card"></i> Roles<i
                            class="icon angle-right"></i>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>
